body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
    font-weight: bold;
}

#password-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    max-width: 300px; 
}

#password-form label {
    margin-bottom: 5px;
}

#password-form input {
    margin-bottom: 10px; 
}

#password-output {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin: 20px auto;
    max-width: 300px; 
    padding: 10px;
    border: 1px solid #ccc;
    overflow: hidden;
    word-wrap: break-word;
}
